<!DOCTYPE html>
<html lang="en">

<head>
    <title>Streaming Control Panel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body style="padding-top: 70px;">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="sr-only">Change navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
                <a class="navbar-brand" href="#">HLServer 3.0</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="dropdown active">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Stats <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="active"><a href="#">Now</a></li>
                            <li><a href="#">Dayly</a></li>
                            <li><a href="#">Monthly</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Settings <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Panel Password</a></li>
                            <li><a href="#">Publish Password</a></li>
                            <li><a href="#">Stream Locking</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden-xs">
                        <p class="navbar-text">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-user" id="username"></span> luztv</p>
                    </li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <h4 class="text-center">Connected the day 2017/05/31 at UTC 16:48 <span class="visible-xs"><small>(luztv)</small></span></h4>
        <h5 class="text-center text-danger"><strong>2 encoders connected</strong></h5>
        <table class="table table-hover table-condensed">
            <thead class="bg-danger">
                <tr class="row">
                    <th class="col-1">&nbsp;</th>
                    <th class="hidden-xs col-sm-4">Info</th>
                    <!-- 16 chars max -->
                    <th class="hidden-xs col-sm-3">IP</th>
                    <th class="col-xs-6 col-sm-2">Stream</th>
                    <!-- 16 chars max -->
                    <th class="col-1">&nbsp;</th>
                    <th class="col-xs-4 col-sm-2">Time</th>
                </tr>
            </thead>
            <tbody>
                <tr class="row">
                    <td class="col-1">
                        <a href=""><img src="images/play.jpg" border="0" /></a>
                    </td>
                    <td class="hidden-xs col-sm-4">1920x1080 H264/AAC [3319 kbps]</td>
                    <td class="hidden-xs col-sm-3">fe80::d6ae:52ff:fed3:ea66/64</td>
                    <td class="col-xs-6 col-sm-2">livestream</td>
                    <td class="col-1"><img src="images/es.png" /></td>
                    <td class="col-xs-4 col-sm-2">125h:45m:59s</td>
                </tr>
                <tr class="row">
                    <td class="col-1">
                        <a href=""><img src="images/play.jpg" border="0" /></a>
                    </td>
                    <td class="hidden-xs col-sm-4">720x576 H264/AAC [750 kbps]</td>
                    <td class="hidden-xs col-sm-3">64.89.125.92</td>
                    <td class="col-xs-6 col-sm-2">lavaquerieysetoca</td>
                    <td class="col-1"><img src="images/es.png" /></td>
                    <td class="col-xs-4 col-sm-2">8125h:45m:59s</td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="container">
        <h5 class="text-center text-primary"><strong>3 players connected</strong></h5>
        <table class="table table-hover table-condensed">
            <thead class="bg-primary">
                <tr class="row">
                    <th class="hidden-xs col-sm-2">Country</th>
                    <!-- 16 chars max -->
                    <th class="col-1">&nbsp;</th>
                    <th class="hidden-xs col-sm-2">City</th>
                    <!-- 16 chars max -->
                    <th class="hidden-xs col-sm-2">IP</th>
                    <th class="col-xs-6 col-sm-2">Stream</th>
                    <!-- 16 chars max -->
                    <th class="col-1">OS</th>
                    <th class="col-xs-4 col-sm-2">Time</th>
                </tr>
            </thead>
            <tbody>
                <tr class="row">
                    <td class="hidden-xs col-sm-2">United States</td>
                    <td class="col-1"><img src="images/es.png" title="United States" /></td>
                    <td class="hidden-xs col-sm-2">Murcia</td>
                    <td class="hidden-xs col-sm-2">fe80::d6ae:52ff:fed3:ea66/64</td>
                    <td class="col-xs-6 col-sm-2">livestream</td>
                    <td class="col-1"><img src="images/and.png" /></td>
                    <td class="col-xs-4 col-sm-2">125h:45m:59s</td>
                </tr>
                <tr class="row">
                    <td class="hidden-xs col-sm-2">Spain</td>
                    <td class="col-1"><img src="images/es.png" title="Spain" /></td>
                    <td class="hidden-xs col-sm-2">Murcia</td>
                    <td class="hidden-xs col-sm-2">64.89.125.92</td>
                    <td class="col-xs-6 col-sm-2">livestream</td>
                    <td class="col-1"><img src="images/mac.png" /></td>
                    <td class="col-xs-4 col-sm-2">5125h:45m:59s</td>
                </tr>
                <tr class="row">
                    <td class="hidden-xs col-sm-2">lavaquerieysetoca</td>
                    <td class="col-1"><img src="images/es.png" title="Spain" /></td>
                    <td class="hidden-xs col-sm-2">lavaquerieysetoca</td>
                    <td class="hidden-xs col-sm-2">64.89.125.92</td>
                    <td class="col-xs-6 col-sm-2">lavaquerieysetoca</td>
                    <td class="col-1"><img src="images/win.png" /></td>
                    <td class="col-xs-4 col-sm-2">8125h:45m:59s</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container">
        <h5 class="text-center text-primary"><strong>25000 players connected from 3 countries</strong></h5>
        <table class="table table-hover table-condensed">
            <thead class="bg-primary">
                <tr class="row">
                    <th class="hidden-xs col-sm-4">Country</th>
                    <!-- 16 chars max -->
                    <th class="col-2">&nbsp;</th>
                    <th class="col-xs-5 col-sm-3">Players</th>
                    <th class="col-xs-5 col-sm-4">Stream</th>
                    <!-- 16 chars max -->
                </tr>
            </thead>
            <tbody>
                <tr class="row">
                    <td class="hidden-xs col-sm-4">United States</td>
                    <td class="col-2"><img src="images/flags/us.png" title="United States" /></td>
                    <td class="col-xs-5 col-sm-3">25</td>
                    <td class="col-xs-5 col-sm-4">livestream</td>
                </tr>
                <tr class="row">
                    <td class="hidden-xs col-sm-4">Spain</td>
                    <td class="col-2"><img src="images/flags/es.png" title="Spain" /></td>
                    <td class="col-xs-5 col-sm-3">20000</td>
                    <td class="col-xs-5 col-sm-4">livestream</td>
                </tr>
                <tr class="row">
                    <td class="hidden-xs col-sm-4">United Kingdom</td>
                    <td class="col-2"><img src="images/flags/gb.png" title="United Kingdom" /></td>
                    <td class="col-xs-5 col-sm-3">2500</td>
                    <td class="col-xs-5 col-sm-4">abcghjygtqojkuys</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>
